<div class="container">
  <div class="jumbotron">
    <div class="timeline">
      <ul>
        <li *ngFor="let items of items">
          <div class="content">
            <h3>Lorem, ipsum dolor.</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
              ratione, excepturi suscipit magni iure id nesciunt quas veniam.
              Eveniet voluptate vero quod, recusandae sunt alias minus assumenda
              fuga laudantium maxime tempore id, ad blanditiis quae? Modi,
              necessitatibus officia facere consequuntur autem voluptatibus,
              incidunt veniam dolore enim dicta reprehenderit animi maxime.
            </p>
          </div>
          <div class="time">
            <p>January 2018</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
